* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffb400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    box-shadow: 0px 0px 10px blanchedalmond;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    transition: all 2s;
}
.login-container:hover{
    transform: rotateY(10px);
    transform: rotateX(-10px);
    transform: scale(1.1);
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3.5px #222222;
    font-size: 32px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    color: #fff;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    text-shadow: 4px 4px 3.5px #222222;

}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    /* background: #ffb400; */
    background: #ffb400;
    box-shadow: 0px 0px 10px blanchedalmond;
    text-shadow: 3px 3px 3.5px #222222;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #e09e00;
}